.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: $header-color;
}
.header__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Google Sans', sans-serif;
	font-weight: 500;
	padding-top: 48px;
}
.logo {
	margin-right: 68px;
}
.nav__list {
	display: flex;
	gap: 55px;
}
.nav__link {
	color: $second-text-color;
}
.action {
	display: flex;
	align-items: center;
	padding-top: 5px;
}
.login {
	margin-right: 78px;
	color: $second-text-color;
}
.sign-up-btn {
	margin-right: 67px;
}
.en-page {
	text-transform: uppercase;
	margin-right: 5px;
	color: $second-text-color;
}
.ua-page {
	display: none;
	text-transform: uppercase;
}
.front-bg {
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.burger {
	display: none;
}
