$main-font: 'Poppins';
$second-font: 'Google Sans';
$thirsty-font: 'Volkhov';

// $accent-color: #5dbd6d;
// $action-color: #fd576c;

$header-color: #fff;
$footer-color: #fff;

$main-text-color: #5e6282;
$second-text-color: #212832;
// $main-title-text-color: #181e4b;
// $title-text-color: #14183e;

$main-bg-color: #f9fafc;
$second-bg-color: #dfd7f9;

$burger-line-color: black;
